@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
$drop-color: #7fc1f9;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(95, 95, 95, 0.9);
}
.upper {
  width: 100%;
  height: 330px;
  background: #1a2238;
  & .moon {
    position: absolute;
    width: 80px;
    background: #eee99d;
    top: 45px;
    left: 45px;
    box-shadow: 2px 2px 10px 2px rgba(236, 229, 127, 0.5);
    height: 80px;
    border-radius: 50%;
    animation: rise 1s ease-out;
    & .moon-dot {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d6c687;
      opacity: 20%;
      top: 47px;
      right: calc(50% - 10px);
    }
    & .moon-dot:nth-child(2) {
      top: 3px;
      height: 15px;
      width: 15px;
      left: 30px;
    }
    & .moon-dot:nth-child(3) {
      top: 12px;
      left: 10px;
    }
    & .moon-dot:nth-child(4) {
      top: 30px;
      left: 12px;
    }
    & .moon-dot:nth-child(5) {
      top: 10px;
      right: 10px;
    }
    & .moon-dot:nth-child(6) {
      top: 15px;
      right: 14px;
    }
    & .moon-dot:nth-child(7) {
      top: 30px;
      right: 30px;
    }
    & .moon-dot:nth-child(8) {
      top: 42px;
      right: 42px;
    }
    & .moon-dot:nth-child(9) {
      top: 47px;
      right: 47px;
    }
    & .moon-dot:nth-child(10) {
      top: 30px;
      right: 30px;
    }
    & .moon-dot:nth-child(11) {
      top: 12px;
      right: 12px;
    }
    & .moon-dot:nth-child(12) {
      top: 10px;
      left: 10px;
    }
  }
  & .hill-bg {
    position: absolute;
    left: -30px;
    top: 200px;
    background: #26314F;
    width: 300px;
    border-radius: 50%/50% 50% 0 0;
    height: 310px;
  }
  & .hill-bg:nth-child(2) {
    top: 200px;
    left: 160px;
  }
  & .hill-fg-1 {
    position: absolute;
    left: -90px;
    top: 250px;
    background: #303C5D;
    width: 300px;
    border-radius: 50%/50% 50% 0 0;
    height: 310px;
  }
  & .hill-fg-2 {
    position: absolute;
    left: 70px;
    top: 200px;
    background: #303C5D;
    width: 300px;
    border-radius: 50%/50% 50% 0 0;
    height: 310px;
  }
  & .hill-fg-3 {
    position: absolute;
    right: -90px;
    top: 250px;
    background: #303C5D;
    width: 300px;
    border-radius: 50%/50% 50% 0 0;
    height: 310px;
  }
  @for $i from 1 through 10 {
    .drop-big-#{$i} {
        z-index: 20;
        height: 8px;
        width: 8px;
        bottom: 70px;
        border-radius: 50%;
        background: $drop-color;
        left: (-20 + 38 * $i) + px;
        position: absolute;
        animation: drop (0.7 + random(2) / 10) + s linear (random(50) / 25) + s infinite;
        animation-fill-mode: both;
        transform-origin: 50% 100%;
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: -2px;
            left: 1px;
            width: 6px;
            height: 6px;
            background: $drop-color;
            border-radius: 3px;
        }
        &:after {
            position: absolute;
            content: '';
            display: block;
            top: -5px;
            left: 2px;
            width: 4px;
            height: 10px;
            background: $drop-color;
            border-radius: 50%;
        }
    }
    .drop-medium-#{$i} {
        @extend .drop-big-#{$i};
        opacity: 0.6;
        width: 6px;
        height: 6px;
        &:before {
            width: 4px;
            height: 4px;
        }
        &:after {
            width: 2px;
            height: 6px;
        }
    }
    .drop-small-#{$i} {
        @extend .drop-big-#{$i};
        opacity: 0.3;
        width: 4px;
        height: 4px;
        &:before {
            width: 2px;
            height: 2px;
        }
        &:after {
            width: 2px;
            height: 4px;
        }
    }
}

  
@keyframes drop {
	0% {
		transform: translate3d(40px,-320px,0) scaleX(1) scaleY(1) rotate(17deg);
	}
	85% {
		transform: translate3d(0,0,0) scaleX(1) scaleY(1) rotate(17deg);
	}
	100% {
		transform: translate3d(0,0,0) scaleX(3) scaleY(0) rotate(0deg);
	}
}
@keyframes rise {
	from {
		transform: translate(-20px,200px);
	}
	to {
		transform: translate(0,0px);
	}
}

}
.lower {
  z-index: 15;
  width: 100%;
  height: 70px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .left {
    padding: 0 0 0 10px;
    display: flex;
    gap: 4px;
    width: 230px;
    align-items: center;
    & .temp p {
      font-weight: 200;
      font-size: 3rem;
      padding-right: 4px;
    }
    & .env p {
      font-size: 0.9rem;
      font-weight: 100;
    }
  }
  & .right {
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    & p {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 100;
      & span {
        font-weight: 500;
        padding-left: 9px;
      }
    }
  }
}
