* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background: #264057;
}

.right {
  position: absolute;
  height: 300px;
  z-index: 1;
  width: 300px;
  top: 50px;
  left: 50px;
  transform: translateX(0);
  transition: transform .3s ease;
  background: white;
}
.left{
  transform: translateX(120px);
  position: absolute;
  top: 100px;
  transition: transform .3s ease;
  background: #43627D;
  width: 110px;
  left: 100px;
  height: 210px;
  color: #ebebebc1;
  border-radius: 5px;
}
.left ul{
  list-style: none;
}
.left ul li:hover{
  background: #385269;
  color: #fff;
  cursor: pointer;
}
.left ul li{
  padding: 9px 3px;
  font-size: 10px;
}
.left ul li span{
  padding: 4px;
}
.bar {
  height: 60px;
  width: 100%;
  background: #5f98cd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  color: #fff;
}

.bar-icon {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
}
.bar-icon .line{
  width: 18px;
  position: absolute;
  height: 2.4px;
  top: 26px;
  background: #f9faf8af;
  border-radius: 9px;
  justify-content: flex-end;
}

.line:nth-child(2){
  justify-content: flex-end;
  width: 27px;
  top: 35px;
}

.circle{
  position: absolute;
  top: 23.8px;
  left: 39px;
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #f9faf8af;
}
.bar-search{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  
  gap: 15px;
  transition: all .5s ease-in-out;
}
.bar-search #search {
  display: none;
  border: none;
  transition: search 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 20px;
  height: 32px;
  outline: transparent;
  padding-left: 20px;
}

@keyframes search {
  0%{
    transform: translateX(-30px);
    opacity: 30%;
  }
  100%{
    transform: translateX(0);
  }
}

.bar-search i {
  color: rgba(255, 255, 255, 0.7);
}

.bar-text h4 {
  font-size: 14px;
  font-weight: 400;
}
.notifications{
  display: flex;
}

.notifications .line-v{
  position: relative;
  width: 3px;
  height: 240px;
  margin: 0 2px 0 20px;
  background: rgba(166,166,166,0.299)
}
.notifications .notification-box{
  display: flex;
  flex-direction: column;
  padding: 15px 7px;
  color: rgba(69,69,69,0.686);
}
.notification{
  margin-bottom: 10px;
}
.notification-box .notification b{
  font-weight: 450;
}
.notification-box .notification #time{
  font-weight: 400;
  font-size: 11px;
}
.notification-detail p{
  font-size: 15px;
  width: 90%;
  font-weight: 400;
}
.notification:hover{
  color: #5f98cd;
}
.circle-1{
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 10px rgba(255,255,255,0.686) inset;
  top: 11px;
  left: -16px;
  border: 3px solid #4d96ff;
}